---
title: Playground
layout: semantic
---
<div class="ui text container">
    <div class="ui tall stacked segment">
        <h4 class="ui header">Tentang BDP Playground</h4>
        <p> Tempat bermain dan belajar</p>
    </div>
</div>
<div class="ui hidden divider"></div>
<div class="ui text container">
    <div class="ui piled segment">
          <div class="ui red clearing segment">
            <h4 class="ui header">Visualization</h4>
            Tentang visualisasi data, mostly dengan D3js.
            <a href="{{ 'visualization' | prepend: site.baseurl }}">
            <div class="ui red right floated button">Masuk</div>
            </a>
          </div>
    </div>
</div>
