---
title: Visualization
layout: semantic
category: Visualization
---
<div class="ui hidden divider"></div>

<div class="ui text container">
    <div class="ui piled segment">
        <h4 class="ui header">Visualisasi Data</h4>
        <p>
          Subset dari Data Science, visualisasi data adalah ilmu (atau seni?)
          menyajikan informasi dari sekumpulan data secara visual. That's all actually.
        </p>
        <p>
          Not much? True, tapi ini era big data. Perkembangan teknologi telah
          menghasilkan banyak sistem informasi dan aplikasi yang berjalan
          selama bertahun-tahun, menghasilkan dan menyimpan data yang banyak dan kompleks.
          Tidak mudah mendapatkan gambaran informasi dari misal, 1 juta baris transaksi penjualan.
          Atau tabel histori curah hujan di 10 negara selama 10 tahun.
        </p>
        <p>
          Supaya lebih mudah mendapatkan informasi, melihat pola data
          atau menarik kesimpulan dari data-data besar dalam bentuk teks tersebut.
          We need to visualize it.
        </p>
    </div>
</div>

<div class="ui hidden divider"></div>
<div class="ui container">
    <div class="ui card">
      <div class="content">
        <div class="right floated meta">
          {{ page.date }}
        </div>
          <img class="ui avatar image" src="http://bimadata.com/storage/app/media/Teams/frendhi.jpg">
        Frendhi
      </div>
      <div class="image">
        <a href="{{ "scatterplot" | prepend: site.baseurl }}" target="_blank">
          <img class="ui wireframe image" src="{{ 'scatterplot/ss.png' | prepend: site.baseurl  }}">
        </a>
      </div>
      <div class="content">
        <a href="{{ "scatterplot" | prepend: site.baseurl }}" target="_blank">
          <h4 class="ui header">South Bluefin Tuna Catch</h4>
        </a>
        Demo scatter plot
      </div>
    </div>
</div>

<div class="ui hidden divider"></div>
<div class="ui text container">
    <div class="ui piled segment">
        <h4 class="ui header">Tentang D3js</h4>
        <p>
            <a href="https://d3js.org/">D3js</a> (Data-Driven Document) adalah javascript library untuk
            mengolah <a href="https://developer.mozilla.org/en-US/docs/Web/API/Document_Object_Model">DOM</a>
            berdasarkan data. SVG dapat dirender di browser modern. SVG sendiri berbasis XML.
            Sama dengan HTML, basisnya XML. Dokumen HTML, XML, atau SVG yang di render di browser,
            dapat diolah melalui DOM.</p>
        <p>
            jQuery contohnya, adalah library javascript yang dapat mengolah DOM tersebut.
            Dengan jQuery kita bisa memanipulasi tampilan web, manipulasi tersebut dilakukan oleh jQuery
            dengan mengakses DOM dari halaman/dokumen web tersebut.
        </p>
        <p>
            Jadi dasarnya cara kerja D3js dan jQuery sama.
            Bahkan sebenarnya kita bisa membuat grafik sederhana atau rumit dengan jQuery.
            Lalu kenapa ada D3js?
        </p>
        <p>
            Kekuatan D3js ada pada data binding dan banyaknya library yang memudahkan
            kita dalam mengolah data yang akan disajikan ke dalam bentuk chart atau visualisasi apapun.
            Misal, untuk scaling data, D3js sudah menyiapkannya. Setup axis X dan Y? Sudah ada.
            Scaling data log, time series, ordinal, linear. Ada.
        </p>
        <p>
            D3js tidak punya dependencies pada library javascript yang lain.
            Karena D3js hanya fokus di satu solusi, memanipulasi dokumen (DOM) berdasarkan data.
            Kelebihan ini membuat D3js cukup sulit digunakan oleh pemula.
            Untuk developer yang ingin shortcut, D3js tidak disarankan.
        </p>
        <p>
            Bagi developer yang sudah sering menggunakan library javascript untuk chart seperti,
            highchart js, atau chart js, mungkin pernah mendapatkan request dari client untuk
            mengubah tampilan chart di aplikasi yang dibuat. Beberapa request mungkin sudah difasilitasi oleh
            library yang digunakan. Tapi kadang request dari client sangat kompleks, dan
            mungkin juga solusinya adalah mengubah atau overriding fungsi dari library yang digunakan.
            Disini D3js bisa digunakan sebagai solusinya. Semua aspek dapat di custom.
        </p>
        <p>
            Ini juga sekalian menjawab kapan developer dapat menggunakan D3js,
            daripada highchart js, google chart, atau library chart javascript yang lain.
        </p>
    </div>
</div>
