---
title: South Bluefin Tune Catch
layout: semantic
js_file: script.js
category: Visualization
---
<div class="ui text container">
    <div class="ui piled segment">
        <h4 class="ui header">South Bluefin Tuna Catch</h4>
        <p>
        Setiap ellipse (lingkaran oval) adalah 1 South Bluefin Tuna (SBT)
        yang ditangkap selama kurun waktu tahun 2015. Data ini terdiri dari
        ~5500 data SBT. Data bersumber dari aplikasi Catch Document Scheme Online
        yang dikelola oleh Subdit ZEEI
        Dinas Pengelolaan Sumber Daya Ikan Kementerian Kelautan Perikanan RI.
        </p>
        <p>
        Axis Y merupakan berat SBT setelah diproses paska tangkap (bukan whole weight), Axis X merupakan bulan tangkapan.
        Panjang ellipse merepresentasikan panjang SBT.
        </p>
    </div>
</div>
<div class="ui hidden divider"></div>
<div class="ui  container">
    <div  class="ui raised segment">
            <div id="chart1">
            </div>
    </div>
</div>
<div class="ui hidden divider"></div>
<div class="ui text container">
    <div class="ui tall stacked segment">
    <h4 class="ui header">
    <a href="https://bitbucket.org/bimadatapratama/bdp-playground/src/b274bc0d7b318c9aca488ba0d407f2b6bf6f154a/visualization/scatterplot/?at=master
" target="_blank" class="ui bitbucket button">
      <i class="bitbucket icon"></i>
      Source Code
    </a>

    </h4>
    <p>
      Script berikut merupakan modifikasi dari :
      <a href="https://bl.ocks.org/mbostock/3887118" target="_blank">
      https://bl.ocks.org/mbostock/3887118
      </a>.
    </p>
    <p>
      <strong>Penjelasan :</strong><br/>
    </p>
    <pre id="code-source" class="editor-60">
/* Setup ukuran container chart
 * parentWidth diambil dengan $("#chart-container").parent().width();
 * Tujuannya supaya panjang chart sesuai dengan panjang containernya.
 * margin disini untuk menyisakan space supaya chart tidak terlalu rapat dengan
 * border dari container
 */
var margin = { top: 20, right: 20, bottom: 30, left: 40 },
width = +parentWidth - margin.left - margin.right,
height = 900 - margin.top - margin.bottom;

/* Inisialisasi scale x dengan scale time
 * nama variable tidak harus x, kita gunakan x karena var ini
 * akan digunakan untuk scale data axis x yang berupa waktu (bulan)
 * di chart ini terlihat dari posisi ellipse secara horizontal sejajar dengan axis bulan
 * seperti dilihat di chart di atas, axis x adalah 12 bulan
 * DOMAIN ditetapkan dengan array(min, max)
 * min: new Date(tahun, bulan, tanggal). Bulan januari di js mulai dari 0.
 * max: new Date(tahun, bulan, tanggal). Bulan desember di js index 11.
 * Domain ini berhubungan langsung dengan data kita, jadi dengan setup domain x seperti ini
 * data tanggal di luar domain ini akan merusak tampilan chart
 * RANGE di tetapkan dengan array(min, max)
 * min: 0. Mulai dari pixel 0.
 * max: width. Tanggal tertinggi (max), di paling ujung, sesuai dengan panjang container.
 */
var x = d3.time.scale()
   .domain([ new Date(2015, 0, 1), new Date(2015, 11, 30)])
   .range([0, width]);

 /* Inisialisasi scale y dengan scale linear
  * Scale linear merepresentasikan data linear
  * variable ini di chart akan digunakan sebagai axis y data panjang ikan
  * jadi akan sejajar dengan posisi ellipse secara vertikal
  * Jika di variable x sebelumnya kita set domain, di variable y tidak
  * ini karena kita tidak punya asumsi data minimum dan maksimum berat ikan
  * domain dari variable y ini dapat diset setelah kita mendapatkan data,
  * atau jika sumber data statis dan
  * sudah diketahui minimum dan maksimumnya, misal min: 20, maks: 200
  * maka bisa langsung diset dengan: .domain([20, 200])
  * atau bisa juga diset dengan: .domain([0, 1000])
  * Range disini digunakan untuk axis y (vertical)
  * berbeda dengan range axis x (horizontal)
  * point 0,0 akan berada di kiri atas layar,
  * point 0,30 akan berada di bawah point 0, 0
  * maka jika posisi tertinggi dari point y adalah 300 (misal tinggi chart 300px)
  * maka assign .range([300, 0])
  */
var y = d3.scale.linear()
   .range([height, 0]);

/* Inisialisasi scale rx dengan scale log (logaritmik)
 * Scale log merepresentasikan data yang dikonversi ke nilai log
 * var rx ini akan dihubungkan dengan data panjang ikan
 * var rx ini akan menentukan panjang ellipse
 * Sama seperti var y, var rx tidak kita tentukan domainnya
 * karena belum ada asumsi panjang minimal dan panjang maksimum dari data panjang ikan
 * untuk scale log, kita akan gunakan base natural log atau Math.E (2.718281828459045) sebagai basis log nya
 * RANGE ditetapkan untuk membatasi panjang minimal dan panjang maksimal dari setiap ellipse
 * perhatikan bahwa scale rx ini tidak akan digunakan di axis manapun,
 * karena di chart di atas hanya ada 2 axis x (bulan) dan y (berat ikan)
 */
var rx = d3.scale.log()
   .base(Math.E)
   .range([2,30]);


/* Inisialisasi axis x dengan menyematkan scale x yang sebelumnya telah diset
 * .ticks*() untuk memformat tampilan axis
 * .orient() untuk posisi text axis x
 */
var xAxis = d3.svg.axis()
   .scale(x)
   .ticks(d3.time.months)
   .tickSize(16,0)
   .tickFormat(d3.time.format("%B"))
   .orient("bottom");

/* Inisialisasi axis y dengan menyematkan scale y yang sebelumnya telah diset
 * .orient() untuk posisi text axis x
 */
var yAxis = d3.svg.axis()
   .scale(y)
   .orient("left");

// Sampai tahap ini, D3 belum menyentuh DOM atau menghubungkan Data ke DOM

/* Setup svg container untuk chart
 * .select(containerID) Var containerID merupakan CSS selector, misal '#id_container' atau 'body'
 * .attr("width", ... ) set width container plus margin left dan margin right, karena var width dipakai untuk posisi chart
 * .attr("height", ... ) sama seperti attr width, hanya untuk height
 * .append("svg") : prinsipnya sama seperti $(elm).append("div")
 * .append("g") : tambah tag g di dalam tag svg lalu di tag g akan di tambahkan attribute transform
 * transform translate untuk menggeser posisi elemen di screen
 */
var svg = d3.select(containerID).append("svg")
   .attr("width", width + margin.left + margin.right)
   .attr("height", height + margin.top + margin.bottom)
.append("g")
   .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

/* Load dataset
 * d3 menyediakan banyak API untuk meload data: json, csv, tsv
 * Jadi d3.json ini hanya XHR API untuk menarik data dari internet
 * Karena itu kode ini harus dihost di web server supaya berjalan
 */
d3.json("../json/tuna_catch.json", function(error, result){

   /* tuna_catch.json : result = { data: [...] }
    * result.data[0] = { fork_length: 164, harga: 1080000, month: 1, weight: 108 }
    * di file tuna_catch.json data bulan (data.month) hanya berupa index bulan
    * sedangkan axis x menggunakan time scale, dan butuh data format Date()
    * maka kita perlu mengolah dataset agar data month_of_catch
    * untuk mengolah dataset kita gunakan fungsi map dari underscore _.map(data, anon_func(datum))
    * setiap datum akan ditambahkan properti month_of_catch dengan format Date
    * cont: new Date(2015, (2 -1), 15) = "Sun Feb 15 2015 00:00:00 GMT+0700 (WIB)"
    * array dataset per datum:
    * data[0] = { fork_length: 164, harga: 1080000, month: 1, month_of_catch: "Thu Jan 15 2015 00:00:00 GMT+0700 (WIB)", weight: 108 }
    * untuk menelusuri dataset ini, buka developer console, lalu cek var dataset; sudah diset global
    */
   var data = _.map( result.data, function(d){
           d.month_of_catch = new Date(2015, (d.month - 1) , 15);
           return d;
   });

   console.log(data[0]);

   /* Set domain scale y
    * Setelah kita mengakses data, kita dapat mengetahui domain (min, max) dari data tersebut
    * d3.extent berfungsi mengambil nilai minimum dan maksimum dari dataset atau dari suatu field di dataset
    * y.domain(..) menghasilkan domain([ nilai terendah d.weight, nilai tertinggi d.weight  ])
    * rx.domain(..) menghasilkan domain([ nilai exponen terendah dari log d.fork_length, nilai exponen tertinggi dari log d.fork_length ])
    */
   y.domain(d3.extent(data, function(d) { return d.weight })).nice();
   rx.domain(d3.extent(data, function(d) { return Math.exp( d.fork_length ); })).nice();


   /* Var svg dipanggil kembali, sekarang baru dipasang chart ke container
    * svg.append("g"), grup svg baru untuk axis x
    * call(xAxis), bind (ikat/hubungkan) dengan fungsi axis X dan scale x
    * .append(text) dan selanjutnya hanya menambahkan attribut svg
    */
   svg.append("g")
       .attr("class", "x axis")
       .attr("transform", "translate(0," + height + ")")
       .call(xAxis)
   .append("text")
       .attr("class", "label")
       .attr("x", width)
       .attr("y", -6)
       .style("text-anchor", "end")
       .text("Month of catch");

   /* Sama seperti kode di atas,
    * disini kita memasangkan axis Y
    */
   svg.append("g")
       .attr("class", "y axis")
       .call(yAxis)
   .append("text")
       .attr("class", "label")
       .attr("transform", "rotate(-90)")
       .attr("y", 6)
       .attr("dy", ".71em")
       .style("text-anchor", "end")
       .text("SBT Weight (kg)");

   /* Disinilah fungsi utama D3js binding dataset dengan DOM
    * svg.selectAll(".dot") : kita belum punya elemen dengan class="dot" di dokumen
    * tapi setelah kita binding dengan .data(data)
    * lalu kita panggil enter()
    * dataset telah terhubungkan dengan DOM elemen dengan class="dot"
    * tapi belum di render oleh browser
    * lalu kita tambahkan svg ellipse
    * dan set attribut-attribut svg ellipse berdasarkan dataset yang kita punya
    * .attr("rx", ... ) rx di svg ellipse untuk menentukan panjang ellipse
    * panjang ellipse akan merepresentasikan panjang ikan
    * attr("cx", ... ) cx di svg ellipse untuk menentukan posisi ellipse di axis x
    * maka kita isi dengan data month_of_catch
    * attr("cy", ... ) cy di svg ellipse untuk menentukan posisi ellipse di axis y
    * maka kita isi dengan data weight
    * perhatikan .attr("ry", 3.5) semua tinggi ellipse di set 3.5 secara hardcode
    * attribut-attribut lain juga dapat kita set secara harcode
    * tapi jika kita jalankan fungsi anonimus,
    * setiap parameter fungsi anon di fungsi attr("nama_atribut", fungsi_anon(datum))
    * di inject dengan setiap datum dari dataset
    * dan dapat kita akses di dalam setiap fungsi anon
    * Bayangkan setiap tag ellipse class="dot" ini di loop berdasarkan jumlah dataset
    * vanilla js nya mungkin sepert ini:
    */
    var container_chart = document.getElementById("#container_id");
    data.forEach(function(d){
      var ellipse = document.createElement("ellipse");
       eliipse.setAttribute("class", "dot");
       ellipse.setAttribute("rx", getScaleRX(d.month_of_catch));
       ellipse.setAttribute("ry", 3.5);
       ellipse.setAttribute("cx", getScaleY(d.weight));
       ellipse.setAttribute("cy", getScaleX(d.fork_length));
       container_chart.appendChild(ellipse);
    });
   /* If you think that's more simple, perhaps it's true. :)
    * Tapi membuat scale linear, scale time, dan scale log dengan vanilla js
    * bukan solusi yang mudah, keren mungkin, tapi tidak mudah
    * also, wait until you need to bind a lot more dataset to the DOM, vomit alert!
    */
   svg.selectAll(".dot")
       .data(data)
   .enter().append("ellipse")
       .attr("class", "dot")
       .attr("rx", function(d) { return rx( Math.exp( d.fork_length) ); })
       .attr("ry", 3.5)
       .attr("cx", function(d) { return x(d.month_of_catch); })
       .attr("cy", function(d) { return y(d.weight); })
       .style("fill", '#000');

   /* That's all! */

});
    </pre>
    </div>
</div>
<style>
body {
          font: 10px sans-serif;
}

.axis path,
.axis line {
          fill: none;
                    stroke: #000;
                              shape-rendering: crispEdges;
}

.dot {
          stroke: #000;
}
</style>
